@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    width: 100%;
}

body {
    align-items: stretch;
    background: #f8fafc;
    font-family: "Inter", sans-serif;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
    max-height: 80px;
    z-index: 1;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 10px clamp(5px, 10vw, 60px);
    box-sizing: border-box;
}

.log-stuff {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tables-section {
    align-items: stretch;
    background: #f8fafc;
    font-family: "Inter", sans-serif;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tracker-dashboard {
    background: #f8fafc;
    width: 92.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.search-and-new-project {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
    cursor: pointer;
}

select {
    padding: 6px 6px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 6px;
}

input {
    padding: 8px 6px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 6px;
}

.delete-btn {
    background: white;
    border: 10px solid #ef4444;
    font-size: 22px;
    font-weight: 600;
    color: #ef4444;
}

.add-project-btn {
    background: #2563eb;
    color: white;
}

.add-task-btn {
    background: #34A853;
    color: white;
    padding: 8px 8px;
}

.project-row {
    transition: background-color 0.2s ease;
}

.progress-container {
    position: relative;
    width: 100%;
    min-width: 80px;
    height: 22px;

    background: #e5e7eb;
    border-radius: 999px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #22c55e;
    transition: width 0.3s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;
    font-size: 12px;
    font-weight: 600;
}

.project-row:hover {
    background-color: #dbeafe;
}

.section {
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 24px;
    margin-top: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

#filterInput {
    width: 300px;
}

.filter-add-task-section {
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px auto;
}

.filter-add-task-section label {
    align-self: center;
}

.task-text-filter {
    width: 250px;
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    color: #777;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* keep table centered when width is less than container */
    max-width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-align: left;
    user-select: none;
    border: none;        
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

th {
    background-color: #4285F4;
    color: white;
    font-size: 16px;
    padding: 10px;
    max-width: 150px;
    cursor: pointer;
    position: relative;
}

.actions-cell button,
.toggle-btn-cell button {
    display: inline-flex;
    border: 2px solid rgb(226, 221, 221);
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    height: 32px;
    width: 32px;
}

.nested-tasks-row {
    margin-bottom: 10px;
    border-bottom: 5px solid #ccc;
}

table.nested-table th {
    background-color: #34A853;
    border-bottom: 1px solid #ccc;
}

th.sort-asc::after {
    content: " ▲";
    position: absolute;
    right: 8px;
}

th.sort-desc::after {
    content: " ▼";
    position: absolute;
    right: 8px;
}

#toggle-task-column {
    cursor: pointer;
    width: 5px;
    text-align: center;
}

.toggle-btn-cell {
    width: 5px;
    text-align: center;
}

.nested-table {
    margin-left: 20px;
    margin-bottom: 30px;
    border-left: 4px solid #2563eb;
}

.editable {
    max-width: 150px;
    cursor: pointer;
}

.editable input, .editable select {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 6px;
    font-family: inherit;
    font-size: inherit;
}

.hidden {
    display: none;
}

.toggle-btn {
    padding: 4px 8px;
    cursor: pointer;
    font-size: 26px;
}

.actions-cell {
    width: 60px;
    text-align: center;
}

tbody tr:nth-child(4n + 1) {
    background-color: #cbdef3;
}

tbody tr:not(.nested-tasks-row):hover {
    background-color: #eef2ff;
}

.nested-table tbody tr:nth-child(2n + 1) {
    background-color: #cbf2f3;
}

.nested-table .task-filter-row td {
    background-color: white;
}

#holdCloseSection .table-container tr:nth-child(2n + 1), #doneSection .table-container tr:nth-child(2n + 1) {
    background-color: #cbdef3;
}